.container {
  height: 100%;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.w100 {
  width:100%;
}
.back{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:linear-gradient(to bottom, #508fec 0%,#145cb0 100%);
  z-index:-1;
}
/* 底部菜单 */
.bottom-nav{
  position:absolute;
  left:0;
  right:0;
  height:100px;
  bottom:0;
  text-align:center;
  color:#fff;
}

.bottom-nav .bottom-nav-icon{
  text-align:center;
}